<h1>Update Task</h1>

<%= form_for(@task) do |t| %>
  <%= t.label :title %>
  <%= t.text_field :title %>
  <br>
  <br>
  <%= t.label :details %>
  <%= t.text_field :details %>
  <br>
  <br>
  <%= t.label :completed %>
  <%= t.text_field :completed %>
  <br>
  <br>
  <%= t.submit "Update task" %>
<% end %>
